<div class="container">
	<div class="card">
		<table class="table table-hover shopping-cart-wrap">
			<thead class="text-muted">
				<tr>
					<th scope="col">Product</th>
					<th scope="col" width="120">Quantity</th>
					<th scope="col" width="120">Price</th>
					<th scope="col" width="200" class="text-right">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let i of [1,2,3,4]" >
					<td>
						<figure class="media">
							<div class="img-wrap"><img src="https://rukminim1.flixcart.com/image/612/612/jsuoivk0/smart-band-tag/w/f/p/crs-b19-honor-original-imafec5qpgpuatap.jpeg?q=70"
									class="img-thumbnail img-sm"></div>
							<figcaption class="media-body">
								<h6 class="title text-truncate">Product name goes here </h6>
								<dl class="param param-inline small">
									<dt>Size: </dt>
									<dd>XXL</dd>
								</dl>
								<dl class="param param-inline small">
									<dt>Color: </dt>
									<dd>Orange color</dd>
								</dl>
							</figcaption>
						</figure>
					</td>
					<td>
						<select class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</td>
					<td>
						<div class="price-wrap">
							<var class="price"> {{(145*i)+67 | currency:'INR'}}</var>
							<small class="text-muted">(USD5 each)</small>
						</div> <!-- price-wrap .// -->
					</td>
					<td class="text-right">
						<a title="" href="" class="btn btn-outline-success mr-2" data-toggle="tooltip"
							data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a>
						<a href="" class="btn btn-outline-danger"> × Remove</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div> <!-- card.// -->

</div>
<!--container end.//-->
