<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-3"></div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
      <form name="add_product_form" class="form-horizontal " [formGroup]="addProductForm" (ngSubmit)="addProduct()">
        <div class="form-group ">
          <label for="p_name">Name of product : </label>
          <input type="text" formControlName="p_name" class="form-control" name="p_name" id=""
            placeholder="Name of product" [ngClass]="{'is-invalid': formErrors.p_name}" (blur)="showValidationError()">
          <div class="form-text text-red invalid-feedback">{{this.formErrors.p_name}}</div>
        </div>

        <div class="form-group ">
          <label for="p_price">Price of product : </label>
          <input type="number" formControlName="p_price" class="form-control" name="p_price" id=""
            placeholder="Price of product" [ngClass]="{'is-invalid': formErrors.p_price}"
            (blur)="showValidationError()">
          <div class="form-text text-red invalid-feedback">{{this.formErrors.p_price}}</div>
        </div>

        <div class="form-group ">
          <label for="p_quantity">Quantity of product : </label>
          <input type="number" formControlName="p_quantity" class="form-control" name="p_quantity" id=""
            placeholder="Quantity of product" [ngClass]="{'is-invalid': formErrors.p_quantity}"
            (blur)="showValidationError()">
          <div class="form-text text-red invalid-feedback">{{this.formErrors.p_quantity}}</div>
        </div>

        <div class="form-group ">
          <label for="p_company">Company name of product : </label>
          <input type="text" formControlName="p_company" class="form-control" name="p_company" id=""
            placeholder="Company name of product" [ngClass]="{'is-invalid': formErrors.p_company}"
            (blur)="showValidationError()">
          <div class="form-text text-red invalid-feedback">{{this.formErrors.p_company}}</div>
        </div>

        <div class="form-group ">
          <label for="p_country">Country name of product : </label>
          <input type="text" formControlName="p_country" class="form-control" name="p_country" id=""
            placeholder="Country name of product" [ngClass]="{'is-invalid': formErrors.p_country}"
            (blur)="showValidationError()">
          <div class="form-text text-red invalid-feedback">{{this.formErrors.p_country}}</div>
        </div>

        <div class="form-group">
          <label for="p_category">Select category of product : </label>
          <select formControlName="p_category" class="form-control" name="p_category" id=""
            [ngClass]="{'is-invalid': formErrors.p_category}" (blur)="showValidationError()">
            <option disabled [selected]="true"> Select category of product </option>
            <option value="men"> Men </option>
            <option value="women"> Women </option>
            <option value="kids"> Kids </option>
          </select>
          <div class="form-text text-red invalid-feedback">{{this.formErrors.p_category}}</div>
        </div>

        <div class="form-group">
          <label for="p_description">Description : </label>
          <textarea formControlName="p_description" class="form-control" name="p_description" id="" rows="3"
            placeholder="Enter details about product." [ngClass]="{'is-invalid': formErrors.p_description}"
            (blur)="showValidationError()"></textarea>
          <div class="form-text text-red invalid-feedback">{{this.formErrors.p_description}}</div>
        </div>

        <div class="text-right">
          <button type="submit" class="btn btn-success" [disabled]="this.addProductForm.invalid">Save Product</button>
        </div>
      </form>
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-3"></div>
  </div>
</div>
<br />
<h2>Errors</h2>
{{this.formErrors | json}}
<hr>
<h2>Form values</h2>
{{this.addProductForm.value | json}}
<hr>
<h2>data</h2>
{{this.productData | json}}
