<footer class="bg-dark text-white text-center py-5 ">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 py-5">
        <u> ABOUT </u> <br /><br />

        Contact Us<br />
        About Us<br />
        Careers<br />
        Press<br />
        Sell on our website<br />

      </div>
      <div class="col col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 py-5">
        <u> HELP </u> <br /><br />

        Payments<br />
        Saved Cards<br />
        Shipping<br />
        Cancellation & Returns<br />
        FAQ<br />

      </div>
      <div class="col col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 py-5">
        <u> POLICY </u> <br /><br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
      <div class="col col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 py-5">
        <u> MISC </u> <br /><br />

        Online Shopping <br />
        Affliate Program <br />
        Gift Card<br />
        Subscription<br />
        Sitemap<br />

      </div>
    </div>
  </div>
</footer>
<div class="text-center text-white bg-secondary py-3 "> &copy; {{year}} jifrivly</div>