.card:hover{
    border: 1px solid #ff7ea7 !important;
    -webkit-transform: translateY(10px,-10px);
    transform: translate(10px,-10px);
    box-shadow: 0 10px 34px 0 rgba(255, 79, 135, 0.32) !important;
}
.card-title{
    color:#ff4f87 ;
}
.card-footer{
    background-color: #ffffff;
}
.card-footer i{
    cursor: pointer;
}
.card-footer :hover{
    font-size: none;
    font-weight: none;
}
.fa-heart-o:hover{
    color:#ff4f87 !important;
}
.like{
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    background: transparent;
    color: #000000;
    text-align: center;
    line-height: 36px;
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
    transition: all 200ms ease;
}
.like:hover{
    color: #ff4f87;
    border: 1px solid #ff4f87;
}
.close{
    position: absolute;
    border: 1px solid red;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    background: #ffffff;
    color: #ff0000;
    text-align: center;
    line-height: 36px;
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
    transition: all 200ms ease;
}
.card-img-top{
    height: 300px;
}