.card:hover{
    border: 1px solid #ff7ea7 !important;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 10px 34px 0 rgba(255, 79, 135, 0.32) !important;
}

.card-img-top{
    height: 300px;
}

.card-title{
    color:hsl(341, 100%, 65%) ;
}

.card-title{
    margin-bottom: 0.40rem !important;
}

.card-text{
    font-size: 12px;
}

.card-footer {
    padding: 0.50rem 1.25rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #ffffff;
}

.card-footer i{
    cursor: pointer;
}

.card-footer :hover{
    font-size: none;
    font-weight: none;
}

.like{
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    background: transparent;
    color: #000000;
    text-align: center;
    line-height: 36px;
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
    transition: all 200ms ease;
}

.like:hover{
    color: #ff4f87;
    border: 1px solid #ff4f87;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.fa-cart-plus{
    font-size: 20px;
}

.fa-cart-plus:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.close{
    position: absolute;
    border: 1px solid red;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    background: #ffffff;
    color: #ff0000;
    text-align: center;
    line-height: 36px;
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
    transition: all 200ms ease;
}
