<div class="container">
  <div class="row">
    <div *ngFor="let i of [1,2,3,4,5,6,7,8]" class="col col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 py-3">
      <div routerLink="product">
      <div class="card border-light " >
        <span class="like" data-toggle="tooltip" title="Add to favorite"><i class="far fa-heart"></i></span>
        <img class="card-img-top"
          src="https://rukminim1.flixcart.com/image/612/612/jsuoivk0/smart-band-tag/w/f/p/crs-b19-honor-original-imafec5qpgpuatap.jpeg?q=70"
          alt="product image">
        <div class="card-body">
          <h6 class="card-title ">{{"Product name here" | uppercase}}</h6>
          <p class="card-text text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Temporibus dignissimos vero iusto. Consequatur et placeat culpa!
            Quos atque provident quod deleniti reprehenderit porro autem magnam,
            quas ut distinctio, molestiae molestias!
          </p>
        </div>
        <div class="card-footer">
          {{1250 | currency:'INR'}}
          <i routerLink="cart" class="fa fa-cart-plus text-info " data-toggle="tooltip" title="Add to cart" style="float:right"></i>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>