<nav class="navbar navbar-expand-md navbar-light bg-info shadow-lg mb-3">
    <a class="navbar-brand" routerLink="">{{title}}</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="nav_items.home.link" routerLinkActive="active">{{nav_items.home.text}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="nav_items.login.link" routerLinkActive="active">{{nav_items.login.text}}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" [routerLink]="" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" [routerLink]="">Action 1</a>
                    <a class="dropdown-item" [routerLink]="">Action 2</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" ng-submit="">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>